{%extends 'base.html'%}

{%block title%}
{{post.title_tag}}
{%endblock%}

{%block content%}

<h3>{{post.title}}</h3>
<small>By: {{post.author.first_name}} {{post.author.last_name}}
    {% if user.is_authenticated %}
        {%if user.id == post.author.id%}
        <a class="text-muted list-inline-item mr-0" href="{% url 'edit-post' post.pk %}">edit</a>
        <text class="text-muted list-inline-item mr-0">/</text>
        <a class="text-muted list-inline-item mr-0" href="{% url 'delete-post' post.pk %}">delete</a>
        {%endif%}
    {%endif%}
        <text class="ml-2">{{post.date_post}}</text>
</small>
<br/>
<hr>
<br/>
{{post.body}}
<br/>

{%endblock%}