{%extends 'base.html'%}

{%block title%}
blogNews - edit post
{%endblock%}

{%block content%}
{% if user.is_authenticated %}
    {%if user.id == post.author.id%}
    <h3>Edit post</h3>
    <br />
    <div class="form-control-sm">
        <form method="POST">
            {% csrf_token %}
                {{form.as_p}}
            <button class="btn btn-secondary my-2 my-sm-0">Update</button>
        </form>
    </div>
    {%else%}
        <h3>You can't edit other people's posts<h3>
    {%endif%}
{%endif%}
{%endblock%}